.releaseNoteSection::-webkit-scrollbar {
    width: 7px;
    color:red;
}




.detailContainerLeft {
    display: block;
    padding: 15px 20px 105px 70px !important;
    min-height: 300px;
    max-height: 500px;
    width: 103.9%;
    margin: 20px;
    overflow-y: scroll;
    border-right: #81A6BA 1px solid;
}